{% set title = 'Our Philosophy' %}
{% extends "::base.html.twig" %}

{% block title %}SiteBundle:ForPatients:ourPhilosophy{% endblock %}

{% block body %}
	<div class="page-header">
		<div class="container">
			<h1 class="title">{{ title }}</h1>
		</div>
	</div>
	<section id="our-philosophy" class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 visible-md visible-lg">
					<!-- Image -->
					{#<img src="{{ asset('bundles/site/images/sections/bg/thinker.png') }}" width="100%" alt="">#}
					<img src="{{ asset('bundles/site/images/sections/for-patients/our-philosophy.jpg') }}" width="280" height="440" alt="Our Philosophy">
				</div>
				<div class="col-md-8">
					<div class="section-title text-left">
						<h2 class="title">SHP is committed to delivering the highest quality and value of patient care to our community.</h2>
					</div>
					<ul class="list-style">
						<label>We believe these results are achieved through:</label>
						<li>Strong relationships between primary care providers and patients</li>
						<li>Following evidence-based care guidelines</li>
						<li>Providing care coordination services for patients to help them better navigate the complexity of healthcare and achieve their health goals</li>
						<li>Collaborating, coordinating and communicating within a tightly integrated community of care providers</li>
						<li>Obtaining, analyzing, and leveraging clinical and quality data for better health outcomes</li>
					</ul>
					<p>Our providers understand the importance of taking time to provide value-based care for each patient.</p>
					<p>When healthcare providers focus on quality rather than quantity, this results in effective care for each patient and much more efficient use of financial resources.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
