{% extends "::base.html.twig" %}

{% block title %}SiteBundle:ForPatients:physicianDirectory{% endblock %}

{% block body %}
<h1>Welcome to the ForPatients:physicianDirectory page</h1>
{% endblock %}
