{% use '::page_elements.html.twig' %}
{% use '::header.html.twig' %}
{% use '::navigation.html.twig' %}
{% use '::footer.html.twig' %}
{% use '::js_footer_includes.html.twig' %}

<!DOCTYPE html>
<html lang="en">
{{ block('header') }}
<body>
<div id="page">
	<!-- Page Loader -->
	<div id="pageloader">
		<div class="loader-item fa fa-spin text-color"></div>
	</div>

	{{ block('main_navigation') }}

	{% block body %}{% endblock %}

	{{ block('footer') }}

</div>
<!-- page -->

{{ block('js_footer_includes') }}

{% block javascripts %}{% endblock %}

</body>
</html>

