# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    company_name: Scottsdale Health Partners
    company_founded: 2012
    company_phone: (480) 696-4020
    company_address1: 8901 E Mountain View Rd
    company_address2:
    company_city: Scottsdale
    company_state: AZ
    company_zip_code: 85258
    company_location_latitude: 33.57338
    company_location_longitude: -111.88749

    send_dev_emails_to: justin@omedix.com
    send_emails_to: info@shpcare.com
    send_emails_from: web@scottsdalehealthpartners.com
    send_emails_cc: ~
    send_emails_bcc: ~

    meta_keywords_default: "scottsdale health partners,shp,clinically,integrated,network,aco,accountable,care,organization,physician network,honorhealth,medical technology,care coordination,transitional care management,healthcare"
    meta_description_default: "Scottsdale Health Partners is a physician-led Clinical Integration Network and Accountable Care Organization. We are dedicated to improving patient health and reducing healthcare spend through collaboration, coordination, and communication in the community."
    meta_author_default: "omedix.com"