{% extends "::base.html.twig" %}

{% block title %}SiteBundle:LocatePhysician:locatePhysician{% endblock %}

{% block body %}
<h1>Welcome to the LocatePhysician:locatePhysician page</h1>
{% endblock %}
