homepage:
    path:     /
    defaults: { _controller: SiteBundle:Home:home }


about:
    path:     /about
    defaults: { _controller: SiteBundle:About:about }

shp_members:
    path:     /shp-members
    defaults: { _controller: SiteBundle:About:shpMembers }

shp_honor_health:
    path:     /honor-health
    defaults: { _controller: SiteBundle:About:shpHonorHealth }

physician_directory:
    path:     /physician-directory
    defaults: { _controller: SiteBundle:About:physicianDirectory }

clinical_integration:
    path:     /clinical-integration
    defaults: { _controller: SiteBundle:ClinicalIntegration:clinicalIntegration }

shp_clinical_integration_success:
    path:     /clinical-integration-success
    defaults: { _controller: SiteBundle:ClinicalIntegration:shpClinicalIntegrationSuccess }


_a_c_o:
    path:     /ACO
    defaults: { _controller: SiteBundle:ACO:ACO }

what_is_an_a_c_o:
    path:     /what-is-an-aco
    defaults: { _controller: SiteBundle:ACO:whatIsAnACO }

contact:
    path:     /contact
    defaults: { _controller: SiteBundle:Contact:contact }

news:
    path:     /news
    defaults: { _controller: SiteBundle:News:news }

technology:
    path:     /technology
    defaults: { _controller: SiteBundle:Technology:technology }

contact_process:
    path:     /process/contact
    defaults: { _controller: SiteBundle:FormProcess:contactProcess }

faq:
    path:     /frequently-asked-questions
    defaults: { _controller: SiteBundle:FrequentlyAskedQuestions:faq }

request_access:
    path:     /request-access
    defaults: { _controller: SiteBundle:Contact:requestAccess }

locate_physician:
    path:     /locate-a-physician
    defaults: { _controller: SiteBundle:LocatePhysician:locatePhysician }

tos:
    path:     /terms-of-use
    defaults: { _controller: SiteBundle:TermsOfUse:tos }

privacy_policy:
    path:     /privacy-policy
    defaults: { _controller: SiteBundle:PrivacyPolicy:privacyPolicy }

for_patients:
    path:     /for-patients
    defaults: { _controller: SiteBundle:ForPatients:forPatients }

our_philosophy:
    path:     /our-philosophy
    defaults: { _controller: SiteBundle:ForPatients:ourPhilosophy }

our_physicians:
    path:     /our-physicians
    defaults: { _controller: SiteBundle:ForPatients:ourPhysicians }

#physician_directory:
#    path:     /physician-directory
#    defaults: { _controller: SiteBundle:ForPatients:physicianDirectory }

insurance_plans:
    path:     /insurance-plans
    defaults: { _controller: SiteBundle:ForPatients:insurancePlans }

care_management:
    path:     /care-management
    defaults: { _controller: SiteBundle:ForPatients:careManagement }

for_physicians:
    path:     /for-physicians
    defaults: { _controller: SiteBundle:ForPhysicians:forPhysicians }
