homepage:
    path:     /
    defaults: { _controller: SiteBundle:Home:home }


about:
    path:     /about
    defaults: { _controller: SiteBundle:About:about }

what_we_do:
    path:     /what-we-do
    defaults: { _controller: SiteBundle:About:whatWeDo }

mission_vision_values:
    path:     /mission-vision-values
    defaults: { _controller: SiteBundle:About:missionVisionValues }

executive_team:
    path:     /executive-team
    defaults: { _controller: SiteBundle:About:executiveTeam }

board_of_directors:
    path:     /board-of-directors
    defaults: { _controller: SiteBundle:About:boardOfDirectors }



_a_c_o:
    path:     /ACO
    defaults: { _controller: SiteBundle:ACO:ACO }

what_is_an_a_c_o:
    path:     /what-is-an-aco
    defaults: { _controller: SiteBundle:ACO:whatIsAnACO }

contact:
    path:     /contact
    defaults: { _controller: SiteBundle:Contact:contact }

news:
    path:     /news
    defaults: { _controller: SiteBundle:News:news }

technology:
    path:     /technology
    defaults: { _controller: SiteBundle:Technology:technology }

contact_process:
    path:     /process/contact
    defaults: { _controller: SiteBundle:FormProcess:contactProcess }







for_patients:
    path:     /for-patients
    defaults: { _controller: SiteBundle:ForPatients:forPatients }

our_philosophy:
    path:     /our-philosophy
    defaults: { _controller: SiteBundle:ForPatients:ourPhilosophy }

our_physicians:
    path:     /our-physicians
    defaults: { _controller: SiteBundle:ForPatients:ourPhysicians }

physician_directory:
    path:     /physician-directory
    defaults: { _controller: SiteBundle:ForPatients:physicianDirectory }

insurance_plans:
    path:     /insurance-plans
    defaults: { _controller: SiteBundle:ForPatients:insurancePlans }

care_management:
    path:     /care-management
    defaults: { _controller: SiteBundle:ForPatients:careManagement }

for_physicians:
    path:     /for-physicians
    defaults: { _controller: SiteBundle:ForPhysicians:forPhysicians }




# FOS Rest Routing
api_physician_directory:
    type: rest
    prefix: /api
    resource: @SiteBundle/Controller/PhysicianAPIController.php

