{% extends "::base.html.twig" %}

{% block title %}SiteBundle:ClinicalIntegration:clinicalIntegration{% endblock %}

{% block body %}
<h1>Welcome to the ClinicalIntegration:clinicalIntegration page</h1>
{% endblock %}
