{% extends "::base.html.twig" %}

{% block title %}SiteBundle:ClinicalIntegration:shpClinicalIntegrationSuccess{% endblock %}

{% block body %}
<h1>Welcome to the ClinicalIntegration:shpClinicalIntegrationSuccess page</h1>
{% endblock %}
