{% extends "::base.html.twig" %}

{% block title %}SiteBundle:ACO:scottsdaleHealthPartnersACO{% endblock %}

{% block body %}
<h1>Welcome to the ACO:scottsdaleHealthPartnersACO page</h1>
{% endblock %}
